*{
    margin: 0;
    box-sizing: initial;
}

html{
  scroll-behavior: smooth;
}

body{
    line-height: 1.5rem;
}

.container-1{
    width: 100%;
    max-width: 100%;
    padding: 0;
    
}

header#top{
  width: 100%;
}

.row-1{
  padding-right: 100;
}

nav {
    display: flex;
    justify-content:flex-start;
  }
  
  .main-menu-1 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-menu-1 li {
    margin: 0 10px;
  }
  
  .main-menu-1 a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .main-menu-2 a{
    padding: 10px;
    text-decoration: none;
    color: #000;
    
  }

  .main-menu-2 li{
    list-style-type: none;
  }

  .rechterkant a span {
    display: none;
  }

  .midden a span {
    display: none;
  }

  .main-menu-3 li{
    list-style-type: none;
  }

  header#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container-1 {
    width: 100%;
    
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  }
  
  .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90;
  }
  
  .linkerkant nav {
    display: flex;
    align-items: center;
  }
  
  .main-menu-1,
  .main-menu-2,
  .main-menu-3 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-menu-1 li,
  .main-menu-2 li,
  .main-menu-3 li {
    margin-left: 20px;
  }

  .main-menu-2 li,
  .main-menu-3 li a {
    display: flex;
    align-items: center;
    color: #333;
  }
  
  .main-menu-2 li a i,
  .main-menu-3 li a i {
    margin-left: 5px;
  }

  .main-menu-3{
    align-items: center;
  }

  ul.main-menu-1{
    align-items: center;
  }

  .button-24 {
    background: #007bff;
    border: 1px solid #007bff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    
    line-height: 16px;
    
    outline: 0;
    padding: 6px 20px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #007bff;
  }
  
  .button-24:active {
    opacity: .5;
  }

  .button-primary a:link{
      text-decoration: none;
  }

  .main-menu-1 li a:hover {
    text-decoration: none;
  }

  .main-menu-1 li a {
    position: relative;
  }
  
  .main-menu-1 li a::before {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.5s ease;
  }
  
  .main-menu-1 li a:hover::before {
    width: 100%;
  }

  .main-menu-2 a:hover i {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, 0) rotate(-10deg); }
    40% { transform: translate(2px, 0) rotate(10deg); }
    60% { transform: translate(-2px, 0) rotate(-10deg); }
    80% { transform: translate(2px, 0) rotate(10deg); }
    100% { transform: translate(0, 0); }
  }


  .main-menu-3.open {
    /* Adjust styling of navigation bar when open */
  }

  .search-bar {
    display: none;

  }

  
  .fa-magnifying-glass.hidden {
    display: none;
  }

  		.search-container {
			position: relative;
		}
		.search-container input[type=text] {
			padding: 10px;
			border: none;
			border-radius: 5px;
			width: 200px;
			box-sizing: border-box;
			font-size: 16px;
			background-color: #f1f1f1;
		}
		.search-container .close-icon {
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
			cursor: pointer;
		}

    #search-btn a:link{
      text-decoration: none;
    }

    
    
.search-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  width: 1550;
}

.search-bar input[type="text"] {
  border: none;
  padding: 23px;
  flex: 1;
}

.search-bar button[type="submit"] {
  appearance: none;
  
  border: 2px solid #007bff;

  box-sizing: border-box;
  
  cursor: pointer;
  display: inline-block;
  


  margin: 0;

  min-width: 0;
  outline: none;
  padding: 21px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150;
  will-change: transform;
}

.search-bar.active {
  display: block;
}

.search-bar input:focus {
  outline: 2px solid transparent;
}

#search-btn:hover i {
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.icon:hover {
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}



.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #007bff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.dark-mode .main-menu-1 li a {
  color: #fff;
}

.dark-mode .main-menu-2 li a {
  color: #fff;
}

.dark-mode .main-menu-3 li a {
  color: #fff;
}





img {
	display: block;
	max-width: 100%;
}
/* ======================== */
.container {
	max-width: 950px !important;
	margin-inline: auto;
	padding: 20px 15px;
}

.title {
	margin-bottom: 50px;
}
.title span {
	display: block;
}
.title .primary {
	font-size: clamp(26px, 5vw, 52px);
	text-transform: uppercase;
	color: black;
}
.title .secondary {
	font-size: clamp(14px, 2.5vw, 16px);
	font-weight: 400;
	color: #d6d6e0;
}
.gallery-wrapper {
	display: flex;
}
.gallery-item {
	position: relative;
	isolation: isolate;
	display: flex;
	flex: 1;
	height: 400px;
	background-color: #000;
	padding: 25px;
	opacity: 1;
	overflow: hidden;
	transition: flex 0.5s, opacity 0.25s;
}
.gallery-item:hover {
	opacity: 1;
	flex: 5;
}
.gallery-item:not(:hover) {
	opacity: 0.75;
}
.item-image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-description {
	align-self: flex-end;
	text-transform: uppercase;
	color: #fff;
}

.item-description a:link{
  text-decoration: none;
  color: white;
}

.item-description a:hover{
  text-decoration: none;
  color: white;
}

.item-description a:active{
  text-decoration: none;
  color: white;
}

.item-description a:visited{
  text-decoration: none;
  color: white;
}

.name {
	font-size: 20px;
	background: linear-gradient(90deg, #f32d5b, #ff009b);
	padding-inline: 10px;
	transform: translateY(-10px);
}
.role {
	display: inline-block;
  font-size: 10px;
	background: linear-gradient(90deg, #4136d9, #0086c7);
	padding: 10px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(10px);
}
.name,
.role {
	opacity: 0;
	transition: opacity 0.25s, transform 0.3s;
	transition-delay: 0.35s;
}
.gallery-item:hover .name,
.gallery-item:hover .role {
	opacity: 1;
	transform: translateY(0);
}
.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) .role {
	transition-delay: 0s;
}
@media screen and (max-width: 768px) {
	.gallery-wrapper {
		flex-direction: column;
		height: 100vh;
	}

	.gallery-item:hover {
		flex-basis: 100%;
	}
}

.flex-container {
  display: flex;
  justify-content: center;
}

.container-3{
  padding-right: 100;
  padding-left: 100;
}

.container-3-border {
  border: 2px solid #007bff;
  padding: 20px;
  margin-top: 152;
  height: 401;
}

.container-3 h1{
  position: relative;
  right: 80;
  top: 10;
  color: #007bff;
  font-weight: bold;
  font-size: large;
}

.nieuws-2 ul li{
  list-style-type: square;
  color: #007bff;
  padding-top: 30;
  font-size: 12px;

}

.nieuws-2 ul li p{
  color: black;
}

.nieuws-2 ul li p{
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 10px;
  margin-right: 70px;
}

.button-24-2 {
  background: #007bff;
  border: 1px solid #007bff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  min-height: 4px;
  outline: 0;
  padding: 6px 100px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24-2:hover,
.button-24-2:active {
  background-color: initial;
  background-position: 0 0;
  color: #007bff;
}

.button-24-2:active {
  opacity: .5;
}

.button-container {
  text-align: center;
  margin-top: 35px; /* you can adjust this value as per your requirement */
}

/* [1] The container */
.img-hover-zoom {
  height: 30%; /* [1.1] Set it as per your need */
  width: 22.5%;
  margin-left: 10;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s, filter 0.4s ease-in-out;
  filter: grayscale(100%);
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  filter: grayscale(0);
  transform: scale(1.01);
}

.onder-img{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  left: 5;
  

}

i.fa-solid.fa-arrow-down{
  position: absolute;
  top: 177;
  left: 440;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-hover-zoom:hover i.fa-solid.fa-arrow-down {
  opacity: 1;
}




#arrow-2 {
  position: absolute;
  top: 182px;
  left: 907px;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-hover-zoom:hover #arrow-2 {
  opacity: 1;
}



#arrow-3 {
  position: absolute;
  top: 182px;
  left: 1374px;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-hover-zoom:hover #arrow-3 {
  opacity: 1;
}

.img-hover-zoom span{
  color: #007bff;
  font-weight: 500;
}

.img-hover-zoom a:link{
  text-decoration: none;
}



#box-1{
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #4136d9, #0086c7);
  padding: 20px;
  padding-left: 80;
  bottom: 131;
  left: 241;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.img-hover-zoom:hover #box-1{
  opacity: 1;
}

#box-1:hover{
  background: linear-gradient(90deg, #382fb7, #0175af);
  
}

#box-1 p{
  position: absolute;
  left: 15;
  top: 7;
  color: #fff;
}

#Corona{
  margin-top: 340;
  height: 490;
  color: white;
  display: flex;
  padding-left: 130;
}

#Corona h1{
  padding-top: 50;
}

#Corona p{
  width: 50%;
}

.Corona{
  background-color: gray;
}

#box-2{
  background: #007bff;
  padding: 2px;
  margin-top: 60;
  margin-right: 10;
  height: 32;
}

#text-image{
  display: flex;
  flex-direction: row;
}

#Corona img{
  padding-left: 140;
}

/* nieuws 2 */

#Euroleague{
  margin-top: 0;
  height: 490;
  color: black;
  display: flex;
  padding-left: 130;
}

#Euroleague h1{
  padding-top: 50;
}

#Euroleague p{
  width: 50%;
}

.Euroleague{
  background-color: white;
}

#box-3{
  background: #007bff;
  padding: 2px;
  margin-top: 60;
  margin-right: 10;
  height: 32;
}

#Euroleague img{
  padding-left: 140;
}

.image-container-n{
  width: 580;
  height: 300;
  overflow: hidden;
}

.image-container-n img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* nieuws-3 */

#Zaterdag{
  margin-top: 0;
  height: 490;
  color: white;
  display: flex;
  padding-left: 130;
}

#Zaterdag h1{
  padding-top: 50;
}

#Zaterdag p{
  width: 50%;
}

.Zaterdag{
  background-color: gray;
  height: 550;
}

#box-4{
  background: #007bff;
  padding: 2px;
  margin-top: 60;
  margin-right: 10;
  height: 32;
}

#Zaterdag img{
  padding-left: 140;
}

hr{
  margin-right: 25%;
  margin-left: 25% !important;
  background-color: #007bff;
}